.git
.venv
__pycache__
*.pyc
.env
output
*.tfstate
*.tfstate.backup
.terraform
llm_benchmarking/IaC-Evaluation-Pipeline/outputs
llm_benchmarking/IaC-Evaluation-Pipeline/results
agent2/llm_benchmarking/IaC-Evaluation-Pipeline/outputs
agent2/llm_benchmarking/IaC-Evaluation-Pipeline/results
